---

---

<section class="bg-bg-secondary py-25">
  <div class="container mx-auto max-w-300 px-5">
    <div class="fade-on-scroll mb-15 text-center">
      <span
        class="text-accent mb-2.5 block text-[0.9rem] tracking-[3px] uppercase"
        >Portafolio Selecto</span
      >
      <h2 class="text-[3rem]">NUESTRA VISIÓN</h2>
    </div>

    <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
      <!-- Item 1 -->
      <div
        class="group fade-on-scroll relative h-100 cursor-pointer overflow-hidden">
        <img
          src="https://instagram.fclo1-3.fna.fbcdn.net/v/t39.30808-6/469232352_18250227835274894_7692976498947439874_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=106&ig_cache_key=MzQ3NDY3OTgxNDYwNDU1MTM1Nw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTc5NC5zZHIuQzMifQ%3D%3D&_nc_ohc=cdizR6YSwFMQ7kNvwHddbD3&_nc_oc=AdkGZcZXTGcdOaQlSwYTSYKjY1Pg8pWMcd50OTTIhBUX8DP7ghbCfxD8OvAYgo70ffY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fclo1-3.fna&_nc_gid=dvacugj3nBUg92L_oM4jlA&oh=00_AfvH0AsE2mlEIRMkd-m3NH9vFreucpGxoCDzHAeoNnqtlA&oe=6987332E"
          alt="Realismo"
          class="h-full w-full object-cover contrast-125 grayscale transition-transform duration-600 group-hover:scale-110 group-hover:contrast-100 group-hover:grayscale-0"
        />
        <div
          class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-[rgba(0,0,0,0.6)] opacity-0 transition-opacity duration-300 group-hover:opacity-100">
          <h3
            class="text-accent translate-y-5 text-[1.5rem] transition-transform duration-300 group-hover:translate-y-0">
            REALISMO SOMBRÍO
          </h3>
        </div>
      </div>
      <!-- Item 2 -->
      <div
        class="group fade-on-scroll relative h-100 cursor-pointer overflow-hidden">
        <img
          src="https://instagram.fclo1-3.fna.fbcdn.net/v/t39.30808-6/469183905_18250108924274894_2177774014371225667_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=106&ig_cache_key=MzMwMTkyMzc2MzM4ODk3NjUyNg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTgwMC5zZHIuQzMifQ%3D%3D&_nc_ohc=N2_bfKkkd90Q7kNvwFotYgk&_nc_oc=AdmChRyo60DF693dl7Q2BSF0evQ2h0ujXd9pmh5l3cJel1ep4H6bi4u3298tmyq5NTw&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fclo1-3.fna&_nc_gid=dvacugj3nBUg92L_oM4jlA&oh=00_AfshieWMmJw-CQ49ZR3Qdr9luZWu-pJt0owH_78THA4CRA&oe=69875224"
          alt="Fine Line"
          class="h-full w-full object-cover contrast-125 grayscale transition-transform duration-600 group-hover:scale-110 group-hover:contrast-100 group-hover:grayscale-0"
        />
        <div
          class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-[rgba(0,0,0,0.6)] opacity-0 transition-opacity duration-300 group-hover:opacity-100">
          <h3
            class="text-accent translate-y-5 text-[1.5rem] transition-transform duration-300 group-hover:translate-y-0">
            FINE LINE & GEOMETRÍA
          </h3>
        </div>
      </div>
      <!-- Item 3 -->
      <div
        class="group fade-on-scroll relative h-100 cursor-pointer overflow-hidden">
        <img
          src="https://instagram.fclo1-4.fna.fbcdn.net/v/t39.30808-6/469196642_18250101913274894_3464565860424803578_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=111&ig_cache_key=MzI1NzAyNDUxNjU1ODczMDQwOQ%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTQ0MC5zZHIuQzMifQ%3D%3D&_nc_ohc=txhZcxCSYukQ7kNvwEeP7jO&_nc_oc=AdlIQxxyv9w0O12VpXkO11xZY8DUacLzQVcH7HTR2_LI-S1zu1Uj6foW_W6TG71tpD8&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fclo1-4.fna&_nc_gid=3NAlDSM3fQIXafgX8_BQuQ&oh=00_AfvjgQ2ngmryjaYGytjkGNOetuOMjSyfkb3AH1AHGcef1w&oe=69874DF0"
          alt="Blackwork"
          class="h-full w-full object-cover contrast-125 grayscale transition-transform duration-600 group-hover:scale-110 group-hover:contrast-100 group-hover:grayscale-0"
        />
        <div
          class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-[rgba(0,0,0,0.6)] opacity-0 transition-opacity duration-300 group-hover:opacity-100">
          <h3
            class="text-accent translate-y-5 text-[1.5rem] transition-transform duration-300 group-hover:translate-y-0">
            BLACKWORK ORNAMENTAL
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
