---

---

<section
  class="relative flex h-screen items-center justify-center overflow-hidden">
  <!-- Slider Background -->
  <div class="absolute top-0 left-0 z-0 h-full w-full">
    <div
      class="animate-ken-burns slide-1 absolute top-0 left-0 h-full w-full bg-cover bg-center opacity-0 brightness-40 grayscale"
      style="background-image: url('https://instagram.fclo1-3.fna.fbcdn.net/v/t39.30808-6/469232352_18250227835274894_7692976498947439874_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=106&ig_cache_key=MzQ3NDY3OTgxNDYwNDU1MTM1Nw%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTc5NC5zZHIuQzMifQ%3D%3D&_nc_ohc=cdizR6YSwFMQ7kNvwHddbD3&_nc_oc=AdkGZcZXTGcdOaQlSwYTSYKjY1Pg8pWMcd50OTTIhBUX8DP7ghbCfxD8OvAYgo70ffY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fclo1-3.fna&_nc_gid=dvacugj3nBUg92L_oM4jlA&oh=00_AfvH0AsE2mlEIRMkd-m3NH9vFreucpGxoCDzHAeoNnqtlA&oe=6987332E'); animation-delay: 0s;">
    </div>
    <div
      class="animate-ken-burns slide-2 absolute top-0 left-0 h-full w-full bg-cover bg-center opacity-0 brightness-40 grayscale"
      style="background-image: url('https://instagram.fclo1-4.fna.fbcdn.net/v/t51.29350-15/333744993_520962583527573_3739183341903036067_n.jpg?stp=dst-jpg_e35_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkNBUk9VU0VMX0lURU0uaW1hZ2VfdXJsZ2VuLjE0NDB4MTgwMC5zZHIuZjI5MzUwLmRlZmF1bHRfaW1hZ2UuYzIifQ&_nc_ht=instagram.fclo1-4.fna.fbcdn.net&_nc_cat=109&_nc_oc=Q6cZ2QE-IZhifqQbYZc1CHgIoUVoFF9k2yHmTrZ8fULpm4qPkeRmP6RQ1cPmm0TinIFDWck&_nc_ohc=SU2vAloijv8Q7kNvwGKApNZ&_nc_gid=xX0QLXD4cNcgEqDBl_GLZA&edm=APs17CUBAAAA&ccb=7-5&ig_cache_key=MzA0OTI0OTIyNjY2MDI4MTk0NQ%3D%3D.3-ccb7-5&oh=00_AfvAeOIQFTFBRBHz1_6gFQJllGf0nAKn8x6a_oV9swk_6w&oe=698730ED&_nc_sid=10d13b'); animation-delay: 8s;">
    </div>
    <div
      class="animate-ken-burns slide-3 absolute top-0 left-0 h-full w-full bg-cover bg-center opacity-0 brightness-40 grayscale"
      style="background-image: url('https://instagram.fclo1-3.fna.fbcdn.net/v/t51.82787-15/574457411_18289736197274894_893430311662000238_n.jpg?stp=dst-jpegr_e35_tt6&_nc_cat=102&ig_cache_key=Mzc2MDIwMzk2NTM0NzQ1MTgxNg%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE0NDB4MTkxMS5oZHIuQzMifQ%3D%3D&_nc_ohc=HebTzeXHoNMQ7kNvwG7lJfr&_nc_oc=AdlYhLGO1We4JcFB2IQ1glnQg4FOVGQKkZobfTr6Oix1J66pbNTnocVfbVbiYfW1khM&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=instagram.fclo1-3.fna&_nc_gid=9YcyFrkLP4DIX_ytLPgS2g&oh=00_Aftx6rIefo-fT7aWtB37FF_5p2ssRVasAnIsAGfrTxJMnw&oe=698746BC'); animation-delay: 16s;">
    </div>
  </div>

  <div class="relative z-10 max-w-200 px-5 text-center">
    <h1
      class="animate-fade-in-up mb-5 translate-y-7.5 text-[2.8rem] leading-[1.1] opacity-0 drop-shadow-[0_10px_30px_rgba(0,0,0,0.5)] md:text-[4rem]"
      style="animation-delay: 0.5s;">
      EL ARTE DE<br /><span class="text-accent">PERDURAR</span>
    </h1>
    <p
      class="animate-fade-in-up mb-10 translate-y-7.5 text-[1.1rem] tracking-[1px] text-[#ddd] opacity-0"
      style="animation-delay: 0.8s;">
      DISEÑO PERSONALIZADO. TÉCNICA IMPECABLE. UN ESPACIO PRIVADO.
    </p>
    <a
      href="https://tattoocol.setmore.com/"
      target="_blank"
      class="btn-gold animate-fade-in-up opacity-0"
      style="animation-delay: 1.1s;">
      Agendar Cita
    </a>
  </div>

  <div
    class="scroll-down animate-bounce-slow absolute bottom-7.5 left-1/2 z-10 -translate-x-1/2 cursor-pointer text-[2rem] text-white opacity-70">
    <i class="ph ph-arrow-down"></i>
  </div>
</section>

<script>
  document.querySelector('.scroll-down')?.addEventListener('click', () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: 'smooth',
    });
  });
</script>
